<div class="flex h-screen w-full overflow-hidden">

    <div class="flex grow flex-col content-start overflow-hidden bg-card">
        <!-- Header -->
        <app-nav></app-nav>
        <!-- main content -->
        <div id="main-content"
            class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted bg-gray-100">
            <div class="mx-auto px-4 py-4 sm:px-8 lg:container">
                <router-outlet></router-outlet>
            </div>
        </div>

        <app-footer></app-footer>
    </div>
</div>